*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

/* COMMON */
section {padding: 50px 0px;}

/* FINE COMMON */

/* HEADER */
header {min-height: 80px;}

/* FINE HEADER */

/* MAIN */
#my__avatar {width: 40%; height: 200px;}

#my__divider {width: 150px; margin: 15px auto;}

.portfolio__single {padding: 10px;}

.portfolio__single img {width: 100%; height: 100%;}

/* FINE MAIN */


/* FOOTER */

/* FINE FOOTER */


/* DEBUG ZONE */
.debug header {background: teal;}
.debug .container {height: 100%;}
/* .debug .row {height: 100%;} */
.debug #nav__logo {background-color: orange; border: 1px solid black;}
.debug #nav__links {background-color: grey; border: 1px solid black;}
.debug #jumbotron {min-height: 20vh; background-color: rgb(76, 175, 134);}
.debug #my__avatar {background:indigo;}
.debug #my__divider {height: 10px; background: khaki;}
.debug #my__description {width: 100%; height: 30px; background-color: lightgray;}
.debug .portfolio__single {height: 50vh; border: 1px solid black;}
.debug .portfolio__single img {background-color: lightgreen; }