*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

/* COMMON */

/* FINE COMMON */

/* HEADER */
header {height: 80px;}

/* FINE HEADER */


/* MAIN */

/* FINE MAIN */


/* FOOTER */

/* FINE FOOTER */


/* DEBUG ZONE */
.debug header {background: teal;}
.debug .container {height: 100%;}
.debug .row {height: 100%;}
.debug #nav__logo {background-color: orange; border: 1px solid black;}
.debug #nav__links {background-color: grey; border: 1px solid black;}